
      <div class="container-fluid">
        <h1>About Us</h1>
        <hr>
        <h2>Ethan Bentolila</h2>
        <img class="border border-5 border-dark rounded" src="/Assets/Images/EthanPFP.png" alt="Ethan" width="175" height="300">
        <p>
            Currently enrolled in the CPA program, I'm 19 years old with ambition to learn as much as I can about programming.
            <br>I've been programming since I was 15 and have a decent grasp of java, c++, javascript, c# and python.
            <br>In my spare time, I like to program, play basketball and socialize.
        </p>
        <h3> Resume: <a href="/Assets/resume/Ethan-Resume.pdf" download>here</a></h3>
        <hr>
      </div>



      <div class="container-fluid">
        <h2>Marshall Presutto</h2>
        <img class="border border-5 border-dark rounded" src="/Assets/Images/marshall.jpg" alt="Marshall" width="170" height="250">
        <p>
            I am 25 years old and currently studying Computer Programming and Analysis at Durham College and determined to find a career working in Game Development.
            <br>I have had an interest in videogames for as long as I can remember and look to apply my artistic abilities and programming skills in the field.
            <br>Much of my spare time is spent playing videogames, I also enjoy going to the gym and sketching forms.
        </p>
        <h3> Resume: <a href="/Assets/resume/Marshall-Resume.pdf" download>here</a></h3>
        <hr>
        <br>
        <br>
      </div>
