
<div class="container">
    <div class="row">
        <div class = "mt-5 col-md-6">
            <img src="/Assets/Images/EthanPFP.png" alt="Ethan Bentolila" width="175" height="280">
            <h1>Ethan Bentolila</h1>
            <h4>Phone Number: 647-907-3578</h4>
            <h4>Email Address: ethanbentolila@gmail.com</h4>
            <a href="https://www.linkedin.com/in/ethan-bentolila/" class="btn btn-dark btn-lg link"><i class="fas fa-solid fa-address-card"></i>  Linkedin Profile</a>
        </div>  
        <div class = "mt-5 col-md-6">
            <img src="/Assets/Images/Marshall.jpg" alt="Ethan Bentolila" width="170" height="280">
            <h1>Marshall Presutto</h1>
            <h4>Phone Number: 905-259-8072</h4>
            <h4>Email Address: marshpresutto@gmail.com</h4>
            <a href="https://www.linkedin.com/in/marshallpresutto-programmingandbusinesstechnology/" class="btn btn-dark btn-lg link"><i class="fas fa-solid fa-address-card"></i>  Linkedin Profile</a>
        </div>
    </div>
    <div class="row mt-5">
        <a href="/contactform" class="btn btn-dark btn-lg link"><i class="fas fa-solid fa-address-book"></i>  Prefer a form? Click here!</a>
    </div>
</div>

