<h1 style ="text-Align: center;"><span style="border-radius: 25px; padding:0 30px; background-color:LightSkyBlue; font-family: Brush Script MT; font-size:300%">Welcome to</span>
    <br><span  style="border-radius: 0px 0px 25px 25px; padding:0 30px; background-color:LightSkyBlue; color: White; font-size:300%; font-family: Tahoma;">Now</span></h1>
    <p  style="text-align:center ;color: rgb(0, 0, 0); font-size: 120%;">
        Our mission is to help provide you with various talents all from one place!
    </p>