<h1 class="container-fluid">Projects Page</h1>

<p class="container-fluid"> This page contains examples of projects completed by our team!</p>

<div class="container-fluid">
<p>
    <hr>
    <div style="text-align: left;">
    <h1 >
        Discord Bot
    </h1>
    <img  src="/Assets/Images/discord_logo.webp" alt="Discord" width="650" height="450">
    <p>
        A discord bot used on a personal server that brings atmosphere to the server.
        <br>Features include:
        <br>A kick command
        <br>Sending memes
        <br>react for roles 
        <br>welcome messages 
        <br>creating private channels 
        <br>providing solutions for puzzles in games 
        <br>and many more!
    </p>
    </div>
    <hr>
    <div style="text-align: right;">
    <h1>Sudoku Solver</h1>
    <img  src="/Assets/Images/code.jpg" alt="Code" width="650" height="450">
    <p>
        A sudoku solver that can solve any sudoku simply by filling out the array with the known values. 
        <br>When finished, the solver will be able to automatically determine which numbers are known <br>by taking a screenshot of the window 
        and using OCR, will display a solved solution.
    </p>

    <h3> <a href="Assets/Projects/sudokubot.py" download>Download Now!</a></h3>
    </div>
    <hr>
    <div>
    <h1> Superhero Mural</h1>
    <img  src="/Assets/Images/spidermanMural.jpg" alt="SpidermanMural" width="650" height="450">
    <p>
        Hand-drawn mock mural design based on the classic superhero Spider-man and his villain,Venom.
    </p>
    </div>
    <br>
    <br>
</p>
</div>
