<h1 id="serviceHeader" style ="text-align: center;"></h1>
<p id="serviceParagraph" style="text-align: center;"></p>

<div style ="text-align: center;">
    <h2>Custom Programming</h2>
    <img  src="/Assets/Images/ProgrammingImage.webp" alt="Programming" width="450" height="250">
    <p>
        We offer the application of adept programming skills to develop in multiple languages as required. 
        <br>Projects in languages such as C#, C++, Python, Java, JavaScript and more are all achievable.
    </p>
  
    <hr>
    <h2>Computer Programming Tutors</h2>

    <img src="/Assets/Images/tutoring.jpg" alt="tutoring" width="450" height="250">
    <p>
        We provide tutoring for various object-oreinted programming languages as well as programming concepts.
    </p>
    <hr>
    <h2>Art and Renderings</h2>
    <p>
    We can provide custom hand drawn art and renderings for characters, digital options are also available. 
    </p>
    <div text-align="center">
        <img src="/Assets/Images/FormSketches.jpg" alt="Forms" style="width:100%; padding:15px 0px 0px 0px">
    </div>
    <div class="column">
        <img src="/Assets/Images/Knight.jpg" alt="Knight" style="width:100%">
    </div>
    <div class="column">
        <img src="./Assets/Images/MayorMuscle.jpg" alt="Mayor Muscle" style="width:100%">
    </div>
    <hr>
    <br>
    <br>
</div>
